@require "global"
@require "animation"

.message
  width: 100%
  overflow: auto
  display: flex
  flex-direction: column
  ._block-empty
    flex: 1
    width: 100%
    padding: 10px 0 0 0
    height: auto
    align-items: flex-end
    justify-content: flex-end
    position: relative
  ._loading-block
    height: auto
    flex: 1
  .send
    display: flex
    flex-direction: column
    text-align: center
    width: 300px
    margin: 0 auto
    align-items: center
    justify-content: center
    input
    textarea
      width: 100%
      border: 1px solid $border-gray
      border-radius 3px
      outline: none
      padding: 10px
      box-sizing: border-box
      &:focus
        border-color: $main-green
    label
      margin: 20px 0 10px 0
    textarea
      box-sizing: border-box
      margin-top: 10px
      outline: none
      height: 80px
      resize: none
    button
      display: flex
      align-items: center
      justify-content: center
      outline: none
      width: 50px
      height: 50px
      border-radius: 100%
      margin: 20px 0 0 0
      font-size: 20px
      color: $main-green
      border: 1px solid $border-gray
      background-color: white
      cursor: pointer
      i
        margin-left: -2px
        &.sending
          animation: fly 1s
      &:hover
        box-shadow: 0 0 5px $border-gray
        i
          animation: bounceIn .5s
      &:active
        background: $main-green
        color: white

  .message-list
    height: 100%
    width: 100%
    overflow: auto
    color: white
    padding: 30px 0
    box-sizing: border-box
    .node-item
      box-sizing: border-box
      .node-item__content
        display: inline-block
        padding: 10px 20px
        position: relative
        box-sizing: border-box
        opacity: 0.8
        max-width: 25vw
        &:after
          position: absolute
          left: 0
          top: 0
          content: " "
          width: 10px
          height: 100%
      ul
        list-style: none
        padding: 0
        line-height: 20px
        @keyframes scale
          100% {
            transform: scale(1.5)
          }
      &:nth-child(even)
        padding-left: 50%
        > div
          border-radius: 0 5px 5px 0
          animation: rotate 2s infinite
          transform-origin: left
          &:after
            background: linear-gradient(to left, rgba(white, 0), rgba(0, 0, 0, .1))
          &:hover
            transform: rotate3d(0, 1, 0, 0deg)
            animation: none
            opacity: 1
            transform-origin: left
      &:nth-child(odd)
        padding-right: 50%
        text-align: right
        > div
          border-radius: 5px 0 0 5px
          animation: rotate 2.5s infinite
          transform-origin: right
          &:after
            background: linear-gradient(to right, rgba(white, 0), rgba(0, 0, 0, .1))
            left: auto
            right: 0
          &:hover
            transform: rotate3d(0, 1, 0, 0deg)
            animation: none
            opacity: 1
            transform-origin: right

@media screen and (max-width: 765px)
  .node-item
    padding-left: 0 !important
    padding-right: 0 !important
    margin-bottom: 10px
    text-align: left !important
    .node-item__content
      width: 100%
      max-width: 100% !important
      padding: 20px !important
      animation: none !important
      border-radius: 5px !important
      box-sizing: border-box
      &:after
        background: transparent