@require "../../../style/global"

.signup, .login
  padding: 0 0 15px 0 !important
  min-width: 200px !important
  width: 400px !important
  height: 400px !important
  font-size: 15px
  border-radius: 100%
  overflow: hidden
  margin-left: -200px 
  left: 50% !important
  top: 130px !important
  background: white
  .title
    .close
      float: none !important
    h2
      margin: 0 10px
      padding: 20px 0 25px 0
      font-size: 30px
      text-shadow: 0 0 5px #999
      text-align: center
      color: white
      font-weight: normal
      border-bottom: 1px dashed white
  .content
    margin-top: 30px
    .control
      text-align: center
      padding: 10px 30px 10px 0
      margin: 0
      background: white
      label
        margin-right: 15px
        color: #666
        width: 90px
        text-align: right
        font-weight: normal
      input
        width: 200px
        display: inline
      span
        position: absolute
        line-height: 32px
        color: red
        margin-top: -33px
  .forgot
    margin-top: 10px
    span
      color: #777
    a
      cursor: pointer
  .modal-footer
    border: none
    text-align: center
    a
      cursor: pointer
      padding: 5px 10px
.login
  .title
    background-color: $main-blue
  .content
    &>span
      color: $main-red
      position: absolute
      width: 230px
      margin-left: -115px
      margin-top: -22px
  .modal-footer
    padding-top: 25px
    a
      color: white
      width: 80px
      line-height: 22px
      display: inline-block
    .confirm
      background: $main-blue
    .cancel
      background: #bbb
    a:hover
      text-decoration: none