@require "global"

._tab
  display flex
  overflow hidden
  padding 40px 0
  background white
  animation slideDown .5s forwards
  box-sizing border-box
  padding 0
  margin 0
  list-style none
  background $main-blue
  padding 5px 10px
  padding-left 10%
  li
    padding 5px 10px
    color white
    font-size 12px
    cursor pointer
    text-align center
    &.active
      background white
      color $main-blue
      border-radius 3px
