@require "global"

._tab
  display flex
  overflow hidden
  box-sizing border-box
  padding 0
  margin 0
  list-style none
  li
    padding 5px 10px
    font-size 12px
    cursor pointer
    text-align center
    color white
    &.active
      background white
      border-radius 3px
      color $main-blue