// Already has bounceIn, flipInX(eg: modal), slideInDown(eg: utils - Msg)

@keyframes bounceIn
  0%, 100%, 20%, 40%, 60%, 80% {
      animation-timing-function: cubic-bezier(0.215,.61,.355,1)
  }
  0% {
      opacity: 0
      transform: scale3d(.3,.3,.3)
  }
  20% {
      transform: scale3d(1.1,1.1,1.1)
  }
  40% {
      transform: scale3d(.9,.9,.9)
  }
  60% {
      opacity: 1
      transform: scale3d(1.03,1.03,1.03)
  }
  80% {
      transform: scale3d(.97,.97,.97)
  }
  100% {
      opacity: 1
      transform: scale3d(1,1,1)
  }

@keyframes flipInX
  0% {
      transform: perspective(400px) rotate3d(1,0,0,90deg)
      animation-timing-function: ease-in
      opacity: 0
  }

  40% {
      transform: perspective(400px) rotate3d(1,0,0,-20deg)
      animation-timing-function: ease-in
  }

  60% {
      transform: perspective(400px) rotate3d(1,0,0,10deg)
      opacity: 1
  }

  80% {
      transform: perspective(400px) rotate3d(1,0,0,-5deg)
  }

  100% {
      transform: perspective(400px)
  }

@keyframes slideInDown
  0% {
    transform: translate3d(0, -100%, 0)
    opacity: 0
  }
  30% {
    opacity: 1
    transform: translate3d(0, 0, 0)
  }
  70% {
    opacity: 1
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 0
    transform: translate3d(0, -100%, 0)
  }

@keyframes fadeIn
  0% {
    opacity: 0
  }
  100% {
    opacity: 1
  }

@keyframes fly
  100% {
    margin-top: -500px
    margin-right: -500px
    transform: scale(3)
    filter: blur(2px)
    opacity: 0
  }

@keyframes rotate
  0% {
    transform: rotate3d(0, 1, 0, 0deg)
  }
  30% {
    transform: rotate3d(0, 1, 0, 20deg)
  }
  80% {
    transform: rotate3d(0, 1, 0, -10deg)
  }
  100% {
    transform: rotate3d(0, 1, 0, 0deg)
  }
  
@keyframes around
  0% {
    transform: rotate(0deg)
  }
  100% {
    transform: rotate(360deg)
  }
  
@keyframes slideInDown
  0% {
    transform: translate3d(0, -100%, 0)
    opacity: 0
  }
  20% {
    opacity: 1
    transform: translate3d(0, 0, 0)
  }
  70% {
    opacity: 1
    transform: translate3d(0, 0, 0)
  }
  100% {
    opacity: 0
    transform: translate3d(0, -100%, 0)
  }