@require "./default"
@require "./animation"

$main-blue = #0FBAE5
$main-red = #DA4040
$main-green = #20B583
$main-yellow = #F79C34
$background-gray = #ECEBEB
$border-gray = #CCCCCC
$font-color = #2D3F50

body
  font-family: "Avenir"

::-webkit-scrollbar
  height 6px
  width 6px
  background transparent
  border-radius 5px
::-webkit-scrollbar-button
  display none
::-webkit-scrollbar-track
  background-color transparent
::-webkit-scrollbar-track-piece
  background transparent
::-webkit-scrollbar-thumb
  width 5px
  height 5px
  background $main-green
  border-radius:5px
::-webkit-scrollbar-thumb:hover
  background darken($main-green, 10%)
::-webkit-scrollbar-thumb:active
  background darken($main-green, 20%)

top-msg-theme(theme_color)
  border: 1px solid darken(theme_color, 5%)
  background: rgba(theme_color, 0.8)
  box-shadow: 0 0 5px darken(theme_color, 15%)
  text-shadow: 0 0 1px darken(theme_color, 15%)

.global-top-msg
  position: absolute
  width: 250px
  left: 50%
  padding: 10px
  margin-left: -125px
  border-radius: 0 0 5px 5px
  border-top: none
  display: flex
  align-items: center
  justify-content: center
  font-size: 1.2rem
  text-align: center
  color: white !important
  top: 0
  // opacity: 0
  animation: slideInDown 2.5s
  animation-fill-mode: forwards
  top-msg-theme($main-green)
  &.warn
    top-msg-theme($main-yellow)
  &.error
    top-msg-theme($main-red)