@require "global"
@require "animation"

._modal
  width: 500px
  background: white
  border: 2px solid $main-blue
  animation: flipInX .5s

._modal__title
  padding: 10px
  text-align: center
  position: relative
  color: $main-blue
  > h1
    color: $main-blue
    font-size: 30px
    margin: 0
    padding: 0
    padding-top: 20px
  > i
    position: absolute
    font-size: 14px
    right: 10px
    top: 10px
    cursor: pointer
    &:active
      color: darken($main-blue, 30%)

._modal__content
  padding: 10px 20px
  text-align: center

._modal__buttons
  display: flex
  padding: 20px 10px 40px 10px
  justify-content: center
  > ._button
    border-color: $main-yellow
    color: $main-yellow
    &.primary-y
      background: $main-yellow
      color: white
