@require "global"

._comment
  margin-top 50px
  width 100%

._comment-header
  margin-bottom 10px
  display flex
  > span:last-child
    cursor pointer
    padding 0 5px
    border-radius 3px
    &:hover
      background rgba($main-green, .9)
      color white

._comment-input
  display flex
  position relative
  img
    height 50px
    width 50px
    margin-right 10px
    border-radius 5px
  ._comment-input__textarea
    flex 1
    border-radius 3px
    border 2px solid rgba($border-gray, .5)
    min-height 90px
    padding 10px
    border-right none
    transition all .3s
    padding-right 70px
    &:focus
      box-shadow 0 0 3px rgba($main-green, .4)
      border-color rgba($main-green, .8)
      & + button
        border-color rgba($main-green, .8)
  button
    position absolute
    height 100%
    right 0
    padding 2px
    border 2px solid rgba($border-gray, .7)
    box-sizing border-box
    border-radius 0 3px 3px 0
    width 50px
    text-align center
    color $main-green
    background $background-gray
    transition: all .3s
    &:not(.disabled):hover
      background linear-gradient(45deg, $main-blue, $main-green)
      color white
      border-color $main-green
    &.disabled
      color: white
    
._comment-content
  margin-top 40px

._comment-content__item
  display flex
  padding 15px 0
  // border-top 1px solid $border-gray
  margin-bottom 15px
  img
    height 50px
    width 50px
    border-radius 5px
    margin-right 10px

._comment-content__item_content
  flex: 1
  .info
    padding-bottom 5px
    color lighten($font-color, 30%)
    font-size 12px
    a.name
      font-size 14px
      color $main-blue
      &:hover
        text-decoration underline
  .evaluation
    color lighten($font-color, 30%)
    padding-top 5px
    font-size 12px
    i
      cursor pointer
      &:active
        color: $main-green
      &.fa-reply
        display none
  &:hover > .evaluation > i.fa-reply
    display inline
    cursor pointer

._comment-content__item_reply
  ._comment-content__item
    margin-bottom 0

._comment-content__item_input
  padding-top: 10px