@require "../../../style/global"
.signup
  .title
    background-color: $main-red
  .content
    margin-top: 20px
    .control
      padding: 10px 30px 0 0
  .modal-footer
    padding-top: 25px
    a
      color: white
      width: 80px
      line-height: 22px
      display: inline-block
    .confirm
      background: $main-red
    .cancel
      background: #bbb
    a:hover
      text-decoration: none