.about
  display flex
  align-items center
  justify-content center
  .about-logo
    text-align center
    img
      width 50vh
      border-radius 100%
      border 5px solid white
      box-shadow 0 0 5px #ccc
      transition 1s ease
      animation circle 5s linear infinite

@keyframes circle {
  0% {
    transform rotate(0deg)
  }
  100% {
    transform rotate(360deg)
  }
}