@require "./variables"
@require "./animation"
@require "./utils"

body
  font-family: "Avenir"

::-webkit-scrollbar
  height 6px
  width 6px
  background transparent
  border-radius 5px
::-webkit-scrollbar-button
  display none
::-webkit-scrollbar-track
  background-color transparent
::-webkit-scrollbar-track-piece
  background transparent
::-webkit-scrollbar-thumb
  width 5px
  height 5px
  background #51606F
  border-radius:5px
::-webkit-scrollbar-thumb:hover
  background darken(#51606F, 10%)
::-webkit-scrollbar-thumb:active
  background darken(#51606F, 20%)

top-msg-theme(theme_color)
  border: 1px solid darken(theme_color, 5%)
  background: rgba(theme_color, 0.8)
  box-shadow: 0 0 5px darken(theme_color, 15%)
  text-shadow: 0 0 1px darken(theme_color, 15%)

.global-top-msg
  position: absolute
  width: 250px
  left: 50%
  padding: 10px
  margin-left: -125px
  border-radius: 0 0 5px 5px
  border-top: none
  display: flex
  align-items: center
  justify-content: center
  font-size: 1.2rem
  text-align: center
  color: white !important
  top: 0
  // opacity: 0
  animation: slideInDown 2.5s
  animation-fill-mode: forwards
  top-msg-theme($main-green)
  &.warn
    top-msg-theme($main-yellow)
  &.error
    top-msg-theme($main-red)

// .markdown-body .highlight pre
// .markdown-body pre
//   background-color #2C2D26 !important
