.u-ml5
  margin-left 5px !important
.u-ml10
  margin-left 10px !important
.u-ml15
  margin-left 15px !important
.u-ml20
  margin-left 20px !important
.u-mlauto
  margin-left auto !important

.u-mr5
  margin-right 5px !important
.u-mr10
  margin-right 10px !important
.u-mr15
  margin-right 15px !important
.u-mr20
  margin-right 20px !important
.u-mrauto
  margin-right auto !important

.u-mb5
  margin-bottom 5px !important
.u-mb10
  margin-bottom 10px !important
.u-mb15
  margin-bottom 15px !important
.u-mb20
  margin-bottom 20px !important