@require "global"

button-theme(border_color, bg_color, font_color)
  border: 1px solid border_color
  background: bg_color
  color: font_color

._button
  display: flex
  align-items: center
  justify-content: center
  height: 18px
  width: 90px
  cursor: pointer
  border-radius: 5px
  > span
    display: inline-block
    line-height: 16px
    height: 12px
    cursor: pointer
  &.green.primary
    button-theme($main-blue, $main-blue, white)
  &.green.hollow
    button-theme($main-blue, white, $main-blue)
  &.yellow.primary
    button-theme($main-yellow, $main-yellow, white)
  &.yellow.hollow
    button-theme($main-yellow, white, $main-yellow)
  &.disabled
    cursor: not-allowed
    border: 1px dashed darken($border-gray, 30%)
    background: $border-gray
