.home
  flex 1
  display flex
  align-items center
  justify-content: center

.home__banner
  width 100vw
  height 0.5625 * @width
  overflow hidden
  background-size cover
  background-position center 20%
