.home
  flex 1
  display flex
  align-items center
  justify-content: center

.home-block
  padding 20px
  > a
    display flex
    padding 10px 40px
    margin-bottom 20px
    border 2px solid $main-blue
    color $main-blue
    border-radius 5px
